{% extends "base.html" %}

{% block body %}
  <div class="banner">
    <img src="{{ relative('assets/img/logo.png') }}" alt="Banner"/>
    <h1>SC Hiltrup 86</h1>
    <img src="{{ relative('assets/img/wide_bg.png') }}" alt="Banner"/>
  </div>
  <div class="menu">
    <ul class="menu-1">
      <li><a href="{{ relative('') }}">Start</a>
        {% if menu == 'start' %}
          {% include 'menu/menu-start.html' %}
        {% endif %}
      </li>
      <li>
        <a href="{{ relative('static/verein') }}">Der Verein</a>
        {% if menu == 'verein' %}
          {% include 'menu/menu-verein.html' %}
        {% endif %}
      </li>
      <li>
        <a href="{{ relative('static/archiv') }}">Archiv</a>
        {% if menu == 'archiv' %}
          {% include 'menu/menu-archiv.html' %}
        {% endif %}
      </li>
      <li>
        <a href="{{ relative('static/kontakt') }}">Kontakt</a>
      </li>
      <li>
        <a href="{{ relative('static/links') }}">Links</a>
      </li>
      <li>
        <a href="{{ relative('static/impressum') }}">Impressum</a>
      </li>
      <li>
        <a href="{{ relative('static/datenschutz') }}">Datenschutzerklärung</a>
      </li>
    </ul>
    {% block menu %}{% endblock %}
  </div>
  <div class="content">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
  </div>
  <div class="sidebar">
    {% block sidebar %}{% endblock %}
  </div>
{% endblock %}
