{% extends print | yesno('blog_print.html', 'blog.html') %}

{% block content %}
<div class="post">
  <div class="post-header">
    {{ date | formatDate }} - {{ author }}
  </div>
  <h1>{{ title }}</h1>

  {% block item_body %}
  {% endblock %}

  {% if not print %}
    <div class="post-footer">
      <div class="post-footer-tags">
        <h4>Tags:</h4>
        <ul>
          {% for tag in tags %}
            <li><a href="{{ relative('tags/' + tag) }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="post-footer-action">
        <h4>Aktionen:</h4>
        <ul>
          <li><a href="{{ relative(name + '/print') }}">Druckversion</a></li>
        </ul>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
